<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- custom style -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/ui.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js"></script>

</head>
<body>
    <div class="container body-content">
        <header class="section-header">
            <section class="header-main border-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-3 col-md-12">
                            <a href="@Url.Action("Index", "Home")" class="brand-wrap">
                                <img class="logo" src="~/Content/images/logo.png">
                            </a> <!-- brand-wrap.// -->
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-6">
                            <form action="@Url.Action("AllProduct", "Product")" method="get" class="search-header">
                                <div class="input-group w-100">
                                    <!-- Ô input tìm kiếm -->
                                    <input type="text" class="form-control" placeholder="Tìm kiếm" name="SearchString" value="@ViewBag.CurentFIlter">

                                    <!-- Nút tìm kiếm -->
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i> Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- search-wrap .end// -->
                        </div>  <!-- col.// -->
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="widgets-wrap float-md-right">
                                <div class="widget-header mr-3">
                                    <a href="@Url.Action("Cart","Cart")" class="widget-view">
                                        <div class="icon-area">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="notify" id="CartCount">@Session["count"]</span>
                                        </div>
                                        <small class="text">Giỏ hàng</small>
                                    </a>
                                </div>
                                <div class="widget-header mr-3">
                                    <a href="#" class="widget-view">
                                        <div class="icon-area">
                                            <i class="fa fa-store"></i>
                                        </div>
                                        <small class="text">Đơn hàng</small>
                                    </a>
                                </div>
                                <div class="widget-header mr-3">
                                    <a href="#" class="widget-view">
                                        <div class="icon-area">
                                            <i class="fa fa-comment-dots"></i>
                                            <span class="notify">1</span>
                                        </div>
                                        <small class="text">Tin nhắn</small>
                                    </a>
                                </div>
                                <div class="widget-header">
                                    <div class="dropdown">
                                        <a href="#" class="widget-view dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="icon-area">
                                                <i class="fa fa-user text-muted"></i>
                                            </div>
                                            @if (Session["idUser"] != null)
                                            {
                                                
                                            }
                                            else
                                            {
                                            }
                                        </a>
                                        <div class="dropdown-menu">
                                            @if (Session["idUser"] != null)
                                            {
                                                <a class="dropdown-item" href="~/User/Profile">Thông tin cá nhân</a>
                                                <a class="dropdown-item" href="~/User/Logout">Đăng xuất</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" href="~/User/Login">Đăng nhập</a>
                                                <a class="dropdown-item" href="~/User/Register">Đăng ký</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <nav class="navbar navbar-main navbar-expand-lg border-bottom">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AllCategory","Category")">Tất cả danh mục</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AllProduct","Product")">Tất cả sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bài viết</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Tiếng Việt</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">English</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        @RenderBody()

        <footer class="section-footer bg-secondary">
            <div class="container">
                <section class="footer-top padding-y-lg text-white">
                    <div class="row">
                        <aside class="col-md col-6">
                            <h6 class="title">Thương hiệu</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Apple</a></li>
                                <li> <a href="#">Samsung</a></li>
                                <li> <a href="#">Xiaomi</a></li>
                                <li> <a href="#">Sony</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Company</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Thông tin về chúng tôi</a></li>
                                <li> <a href="#">Chính sách và điều kiện</a></li>

                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Giúp đỡ</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Liện hệ chúng tôi</a></li>
                                <li> <a href="#">Trạng thái đơn hàng</a></li>
                                <li> <a href="#">Hình thức vận chuyển</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Tài khoản</h6>
                            <ul class="list-unstyled">
                                <li> <a href="@Url.Action("Login", "User")">Đăng nhập </a></li>
                                <li> <a href="@Url.Action("Register", "User")">Đăng kí</a></li>
                                <li> <a href="#">Đơn hàng</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md">
                            <h6 class="title">Mạng xã hội</h6>
                            <ul class="list-unstyled">
                                <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                                <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                                <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                                <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                            </ul>
                        </aside>
                    </div> <!-- row.// -->
                </section>	<!-- footer-top.// -->

                <section class="footer-bottom text-center">

                    <p class="text-white">Chính sách - User Information Legal Enquiry Guide</p>
                    <p class="text-muted"> &copy 2019 Seaward, All rights reserved </p>
                    <br>
                </section>
            </div><!-- //container -->
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
