@model  ASP.NET_Project_Java.Models.ProductListViewModel


@{
    ViewBag.Title = "ProductCategory";
}

<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ==========a======================= -->
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Tên danh mục</a></li>
                    <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                </ol>
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->


        <div class="row">
            <aside class="col-md-3">

                <!--<article class="filter-group">
                <h6 class="title">

                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1"> Loại sản phẩm </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_1">
                    <div class="inner">
                        <ul class="list-menu">
                            <li><a href="#">Quần short</a></li>
                            <li><a href="#">Quần dài</a></li>
                            <li><a href="#">Áo len</a></li>
                            <li><a href="#">Áo</a></li>

                            <li><a href="#">Áo khoác</a></li>
                            <li><a href="#">Khác</a></li>
                        </ul>
                    </div>-->
                <!-- inner.// -->
                <!--</div>
                </article>-->
                <!-- filter-group  .// -->
                <!--<article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Thương hiệu thời trang </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_2">
                    <div class="inner">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label">
                                Adidas
                                <b class="badge badge-pill badge-light float-right">120</b>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label">
                                Nike
                                <b class="badge badge-pill badge-light float-right">15</b>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label">
                                The North Face
                                <b class="badge badge-pill badge-light float-right">35</b>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label">
                                The Cat
                                <b class="badge badge-pill badge-light float-right">89</b>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Việt Tiến
                                <b class="badge badge-pill badge-light float-right">30</b>
                            </div>
                        </label>
                    </div>-->
                <!-- inner.// -->
                <!--</div>
                </article>-->
                <!-- filter-group .// -->

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Khoảng giá </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="inner">
                            <!-- Thanh kéo giá -->
                            <input type="range" id="priceRange" class="custom-range" min="100000" max="50000000" step="10000" value="100000" oninput="updatePriceValue()">

                            <!-- Hiển thị giá trị của thanh kéo -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tối thiểu</label>
                                    <input id="minPrice" class="form-control" type="number" value="100000" readonly>
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Tối đa</label>
                                    <input id="maxPrice" class="form-control" type="number" value="50000000" readonly>
                                </div>
                            </div> <!-- form-row.// -->
                            <button id="applyPriceFilter" class="btn btn-block btn-primary">Áp dụng</button>
                        </div> <!-- inner.// -->
                    </div>
                </article>
                <!-- filter-group .// -->
                <!--<article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Kích cỡ </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_4">
                    <div class="inner">
                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XS </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> SM </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> LG </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XXL </span>
                        </label>
                    </div>-->
                <!-- inner.// -->
                <!--</div>
                </article>-->
                <!-- filter-group .// -->
                <!--<article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5"> Tình trạng </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_5">
                    <div class="inner">
                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                            <div class="custom-control-label">Bất kỳ tình trạng nào</div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Mới hoàn toàn</div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Sản phẩm đã qua sử dụng</div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Rất cũ</div>
                        </label>
                    </div>-->
                <!-- inner.// -->
                <!--</div>
                </article>-->
                <!-- filter-group .// -->


            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="mb-3">
                    <div class="form-inline">
                        @*<strong class="mr-md-auto">8 sản phẩm được tìm thấy</strong>*@
                        <select class="mr-2 form-control">
                            <option>Sản phẩm mới nhất</option>
                            <option>Xu hướng</option>
                            <option>Phổ biến nhất</option>
                            <option>Rẻ nhất</option>
                        </select>
                        <div class="btn-group">
                            <a href="page-listing-grid.html" class="btn btn-light" data-toggle="tooltip" title="Chế độ danh sách">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="page-listing-large.html" class="btn btn-light active" data-toggle="tooltip" title="Chế độ lưới">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- tiêu đề -->


                @foreach (var item in Model.Products)
                {<article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <span class="badge badge-danger"> NEW </span>
                                    <img src="~/Content/images/items/@item.Image">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("Detail", "Product", new { id = item.Id })" class="h5 title"> @item.Name</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->
                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                                        <span class="tag"> 5 Năm </span>
                                        <span class="tag"> 80 đánh giá </span>
                                        <span class="tag"> Nga </span>
                                    </p>


                                    <p>
                                        @item.FullDescription

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">@string.Format("{0:N0} ₫", item.Price)</span>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Miễn phí giao hàng</small>

                                    <p class="text-muted mt-3">Thương hiệu: Grand Fashion</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Liên hệ tư vấn </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Thêm vào yêu thích </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">
                                            So sánh sản phẩm
                                        </div>
                                    </label>
                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->

                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->}






                <!-- Phân trang -->
                <div class="pagination-container">

                    <nav class="mb-4" aria-label="Điều hướng trang mẫu">
                        <ul class="pagination">
                            @if (Model.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("ProductCategory", new { id = Model.CategoryID, page = Model.CurrentPage - 1 })" class="page-link prev">Trước</a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a href="@Url.Action("ProductCategory", new { id = Model.CategoryID, page = i })" class="page-link">@i</a>
                                </li>
                            }

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("ProductCategory", new { id = Model.CategoryID, page = Model.CurrentPage + 1 })" class="page-link next">Tiếp theo</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>

                <style>
                    .pagination-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                    }

                        .pagination-container .page-link {
                            padding: 10px 20px;
                            margin: 0 5px;
                            text-decoration: none;
                            color: #007bff;
                            border: 1px solid #ddd;
                            border-radius: 5px;
                            transition: background-color 0.3s, color 0.3s;
                        }

                            .pagination-container .page-link:hover {
                                background-color: #007bff;
                                color: white;
                            }

                        .pagination-container .page-item.active .page-link {
                            background-color: #007bff;
                            color: white;
                            font-weight: bold;
                        }

                        .pagination-container .page-item .page-link {
                            font-weight: bold;
                            color: #007bff;
                            text-decoration: none;
                        }

                            .pagination-container .page-item .page-link:hover {
                                background-color: #007bff;
                                color: white;
                            }

                        .pagination-container .page-item.disabled .page-link {
                            background-color: #f5f5f5;
                            color: #ccc;
                            pointer-events: none;
                            border-color: #ddd;
                        }
                </style>

                <div class="box text-center">
                    <p>Bạn có tìm thấy những gì mình đang tìm kiếm không?</p>
                    <a href="" class="btn btn-light">Có</a>
                    <a href="" class="btn btn-light">Không</a>
                </div>



            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>


<script>
    // Cập nhật giá trị của các ô nhập từ thanh kéo
    function updatePriceValue() {
        const rangeValue = document.getElementById("priceRange").value;
        const minPrice = document.getElementById("minPrice");
        const maxPrice = document.getElementById("maxPrice");

        // Cập nhật giá trị vào ô nhập
        minPrice.value = rangeValue;
        maxPrice.value = 50000000;  // Giới hạn giá trị tối đa là 50 triệu
    }

    // Xử lý sự kiện khi nhấn nút "Áp dụng"
    document.getElementById("applyPriceFilter").addEventListener("click", function () {
        const minPrice = document.getElementById("minPrice").value;
        const maxPrice = document.getElementById("maxPrice").value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("minPrice", minPrice);
        urlParams.set("maxPrice", maxPrice);
        window.location.search = urlParams.toString();
    });
</script>

